@model IEnumerable<LoDesbloqueo.Data.Cliente>

@{
    ViewData["Title"] = "Clientes";
}
<div class="row">
    <ol class="breadcrumb">
        <li><a asp-controller="Organizacion" asp-action="Dashboard"><i class="icon icon-home"></i> Inicio</a>
        <li><i class="glyphicon glyphicon-briefcase"></i> Clientes</li>
    </ol>
</div>
<h2 class="titulo">
   Clientes
</h2>
<hr class="red" />

<div class="container">

    <div class="row">
        <div class="panel panel-default">
            <div class="panel-body table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Email)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Nombre)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.RFC)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TelefonoActual)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.WhatssApp)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TelefonoContacto)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.WhatssApp)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr class="filaRosa">
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Nombre)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.RFC)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TelefonoActual)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.WhatssApp)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TelefonoContacto)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.WhatssApp2)
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-xs btn-primary">Editar</a>
                                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-xs btn-default">Ver</a>
                                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-xs btn-danger">Eliminar</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="panel-footer text-right">
                <a asp-action="Create" class="btn btn-primary">Nuevo</a>

            </div>
        </div>

    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
