@model IEnumerable<LoDesbloqueo.Data.OrdenServicioServicio>

@{
    ViewData["Title"] = "Index";
}


<div class="col-md-12 col-centered">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h2 class="panel-title">Servicios</h2>
        </div>
        <div class="panel-body">
            <div class="container">
                <form asp-controller="OrdenServicioServicios" asp-action="Create">
                    <div class="row">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.IdServicio)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.IdEdoServicio)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.PrecioServicio)
                                    </th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        @foreach (var servicio in ViewBag.IdServicio)
                                        {
                                            if (int.Parse(servicio.Value)==item.IdServicio)
                                            {
                                                <td>
                                                    @servicio.Text
                                                </td>
                                            }
                                        }
                                        <td>
                                            @Html.DisplayFor(modelItem => item.EstadoServicio.Nombre)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.PrecioServicio)
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>