@model IEnumerable<LoDesbloqueo.Data.OrdenServicioServicio>

@{
    ViewData["Title"] = "Index";
}


        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title">Servicios</h2>
            </div>
            <div class="panel-body">
                <form asp-controller="OrdenServicioServicios" asp-action="Create">
                    <div class="row">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        Servicio
                                    </th>
                                    <th>
                                        Edo Servicio
                                    </th>
                                    <th>
                                        Precio
                                    </th>
                                    <th>
                                        Tecnico
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        @foreach (var servicio in ViewBag.IdServicio)
                                        {
                                            if (int.Parse(servicio.Value) == item.IdServicio)
                                            {
                                                <td>
                                                    @servicio.Text
                                                </td>
                                            }
                                        }
                                        @foreach (var estadoServicio in ViewBag.IdEdoServicio)
                                        {
                                            if (int.Parse(estadoServicio.Value) == item.IdServicio)
                                            {
                                                <td>
                                                    @estadoServicio.Text
                                                </td>
                                            }
                                        }
                                        <td>
                                            @Html.DisplayFor(modelItem => item.PrecioServicio)
                                        </td>
                                        @foreach (var tecnico in ViewBag.IdTecnico)
                                        {
                                            if (int.Parse(tecnico.Value) == item.IdServicio)
                                            {
                                                <td>
                                                    @tecnico.Text
                                                </td>
                                            }
                                        }
                                        <td>
                                            <a asp-controller="OrdenServicioServicios" asp-action="Details" asp-route-id="@item.Id" class="btn btn-xs btn-primary">Ver</a> |
                                            <a asp-controller="OrdenServicioServicios" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-xs btn-warning">Modificar</a> |
                                            <a asp-controller="OrdenServicioServicios" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-xs btn-danger">Eliminar</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
        </div>