@model IEnumerable<LoComercio.Data.OrdenServicio>

@{
    ViewData["Title"] = "Index";
}

<h2>Orden de Servicio</h2>
<a asp-action="Create" class="btn btn-primary alinearDerecha">Crear Nuevo</a>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaLlegada)
            </th>
            <th>
                Tipo de Servicio
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modelo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaPosibleSalida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstadoNotificacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DejaAccesorios)
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @if (item.EstadoNotificacion.Nombre.Equals("Normal"))
            {
                <tr class="OrdenServicioNormal">
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaLlegada)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TipoServicio.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Modelo.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaPosibleSalida)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EstadoNotificacion.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DejaAccesorios)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn-warning btn-sm">Seguimiento</a> |
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn-info btn-sm">Detalles</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn-danger btn-sm">Eliminar</a>

                    </td>
                </tr>
            }
            @if (item.EstadoNotificacion.Nombre.Equals("No Autorizado"))
            {
                <tr class="OrdenServicioNoAutorizado">
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaLlegada)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TipoServicio.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Modelo.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaPosibleSalida)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EstadoNotificacion.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DejaAccesorios)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn-warning btn-sm">Seguimiento</a> |
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn-info btn-sm">Detalles</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn-danger btn-sm">Eliminar</a>

                    </td>
                </tr>
            }
            @if (item.EstadoNotificacion.Nombre.Equals("No Avisado"))
            {
                <tr class="OrdenServicioRetrazado">
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaLlegada)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TipoServicio.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Modelo.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaPosibleSalida)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EstadoNotificacion.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DejaAccesorios)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn-warning btn-sm">Seguimiento</a> |
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn-info btn-sm">Detalles</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn-danger btn-sm">Eliminar</a>

                    </td>
                </tr>
            }
            @if (item.EstadoNotificacion.Nombre.Equals("Urgente"))
            {
                <tr class="OrdenServicioUrgente">
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaLlegada)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TipoServicio.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Modelo.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaPosibleSalida)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EstadoNotificacion.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DejaAccesorios)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn-warning btn-sm">Seguimiento</a> |
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn-info btn-sm">Detalles</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn-danger btn-sm">Eliminar</a>

                    </td>
                </tr>
            }
        }


    </tbody>
</table>

@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
